/*
    Banniere
 */
.banniere{
    height: 370px;
    background: url("/image/entete/bg.svg") no-repeat;
}
.slogan{
    color: whitesmoke;
    height: 370px;
    z-index: 3;
    padding: 0px 5px 0px 5px;
    background-image:linear-gradient(to right, #00acc1, rgba(0,172,193, .2))
}
@media (min-width: 800px) {
    .slogan{
        padding: 0px 12%;
    }
}
.text{
    z-index: 2018;
}
.center{
    text-align: center
}
.btn-connect{
    display: inline-block;
    position: relative;
    top:20px;
    border: 1px solid whitesmoke;
    align-items: center;
    align-content: center;
}
.label-connect{
    font-size: 18pt;
    color: white;
    line-height: 65px;
    padding-right: 5px;
    padding-left: 5px;
}
.bg-fleche{
    float: right;
    background-color: white;
    padding: 20px 10px;
    width: 25px;
    height: 30px;
}

.icon-fleche{
    display: inline-block;
    position: absolute;
    top: 23px;
    right: 13px;
    width: 20px;
    height: 20px;
    border-top: solid 3px #00acc1;
    border-right: solid 3px #00acc1;
    transform: rotate(45deg);
}