.footer{
    color: #232323;
    z-index: 200;
    margin-top: 30px;
    background-color: #efebe9;
    min-height: 200px;
}
.footer-section{
    display: inline-block;
    width: 200px;
    padding: 5px;
}
.footer-section-titre{
    font-size: 18pt;
    font-style: italic;
}
.footer-section-content{
    margin: 0px;
    padding: 5px;
    font-size: 10pt;
}